body {
    background-color: rgba(0, 0, 0, 0.858);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    /* margin: 20; */
    font-size: 200%;
    font-family: cursive;
}

.main{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    /* padding: 5px; */
    /* text-align: center; */
}

#num10{
    font-weight: bold;
    /* padding: 0px; */
    /* width:fit-content; */
    /* text-align: center; */
}

label{
    font-family: cursive;
}

.chart {
    text-align: center;

}

.counter {
    margin: 0;
    text-align: center;
}

.totalcss {
    background-color: rgb(25, 177, 8);
    padding: 10px;
    font-size: 20px;
    width: 50%;
    margin: auto;
    border-radius: 12px;
}

.enter-button {
    color: white;
    background-color: blue;
    border-radius: 15px;
    margin-bottom: 10px;
    /* padding: 10px; */
    font-size: 20px;
    font-family: cursive;
}

.enter-button:active{
    color: red;
}

#num10 {
    /* font-size: 20px; */
    text-align: center;
}