body {
    background-color: rgba(0, 0, 0, 0.858);
    color: white;
    font-weight: bold;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding-bottom: 10px;
    /* margin: 20; */
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    /* padding: 5px; */
    /* text-align: center; */
}

#num10 {
    font-weight: bold;
    /* padding: 0px; */
    /* width:fit-content; */
    /* text-align: center; */
}

label {
    font-family: 'Times New Roman', Times, serif;
}

.chart {
    text-align: center;

}

/* 
.counter {
    margin: 0;
    text-align: center;
} */

.totalcss {
    background-color: rgb(25, 177, 8);
    padding: 10px;
    font-size: 20px;
    /* width: 50%; */
    margin: auto;
    border-radius: 12px;
}

.enter-button {
    color: white;
    background-color: blue;
    border-radius: 15px;
    margin-bottom: 10px;
    /* padding: 10px; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

    .enter-button:active {
        color: red;
    }

    #num10 {
        /* font-size: 20px; */
        text-align: center;
    }

    .owner {
        margin-top: 10px;
        /* margin-top: 10px; */
        display: flex;
        justify-content: end;
    }

    .owner>:first-child {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }

    .owner>:last-child {
        font-family: cursive;
    }